#Maps {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
}
#Maps > div {
    margin: 0 2em;
}
#Maps h2 {
    padding: 1em;
    text-align: center;
}
#Maps img {
    display: block;
    max-width: 100%;
}